<!doctype html>
<html class="fixed">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @await Html.PartialAsync("~/Views/Shared/Partials/Sign/_HeadStyles.cshtml")
    @await Html.PartialAsync("~/Views/Shared/Partials/Sign/_HeadScripts.cshtml")
</head>
<body>
    @RenderBody()
    @await Html.PartialAsync("~/Views/Shared/Partials/Sign/_FooterScripts.cshtml")
</body>
</html>