<div id="userbox" class="userbox">
    <a href="#" data-bs-toggle="dropdown">
        @*							<span class="profile-picture profile-picture-as-text">JD</span>
        *@							<div class="profile-info profile-info-no-role" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
            <span class="name">Hoşgeldin, <strong class="font-weight-semibold">@ViewBag.namesurname</strong></span>
        </div>
        <i class="fas fa-chevron-down text-color-dark"></i>
    </a>
    <div class="dropdown-menu">
        <ul class="list-unstyled">
            <li>
                <a role="menuitem" tabindex="-1" href="/SY/Yonetim/Profilim/"><i class="bx bx-user"></i>Profilim</a>
            </li>
            <li>
                <a role="menuitem" tabindex="-1" href="/SY/Giris/LogOut/"><i class="bx bx-log-out"></i>Çıkış</a>
            </li>
        </ul>
    </div>
</div>