
<!doctype html>
<html class="modern fixed has-top-menu has-left-sidebar-half">
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <title>IKP İş Veren Paneli</title>
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,600,700,800,900" rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/jquery-ui/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/StaticFiles/General/vendor/morris/morris.css" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/StaticFiles/General/css/theme.css" />
    <!-- Theme Layout -->
    <link rel="stylesheet" href="~/StaticFiles/General/css/layouts/modern.css" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/StaticFiles/General/css/skins/default.css" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/StaticFiles/General/css/custom.css">
    <!-- Head Libs -->
    <script src="~/StaticFiles/General/vendor/modernizr/modernizr.js"></script>
    <script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>



</head>
<body>
    <section class="body">
        <!-- start: header -->
        <header class="header header-nav-menu header-nav-links">
            <div class="logo-container">
                <a href="../" class="logo">
                    <img src="~/StaticFiles/General/img/logo-modern.png" class="logo-image" width="90" height="24" alt="Porto Admin" /><img src="img/logo-default.png" class="logo-image-mobile" width="90" height="41" alt="Porto Admin" />
                </a>
                <button class="btn header-btn-collapse-nav d-lg-none" data-bs-toggle="collapse" data-bs-target=".header-nav">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header-right">
                @*<a class="btn search-toggle d-none d-md-inline-block d-xl-none" data-toggle-class="active" data-target=".search"><i class="bx bx-search"></i></a>
                    <form action="pages-search-results.html" class="search search-style-1 nav-form d-none d-xl-inline-block">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" id="q" placeholder="arama...">
                            <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                        </div>
                    </form>
                    <span class="separator"></span>*@

                @*<span class="separator"></span>
                    <ul class="notifications">
                        <li>
                            <a href="#" class="dropdown-toggle notification-icon" data-bs-toggle="dropdown">
                                <i class="bx bx-task"></i>
                                <span class="badge">3</span>
                            </a>
                            <div class="dropdown-menu notification-menu large">
                                <div class="notification-title">
                                    <span class="float-end badge badge-default">3</span>
                                    Tasks
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <p class="clearfix mb-1">
                                                <span class="message float-start">Generating Sales Report</span>
                                                <span class="message float-end text-dark">60%</span>
                                            </p>
                                            <div class="progress progress-xs light">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <p class="clearfix mb-1">
                                                <span class="message float-start">Importing Contacts</span>
                                                <span class="message float-end text-dark">98%</span>
                                            </p>
                                            <div class="progress progress-xs light">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <p class="clearfix mb-1">
                                                <span class="message float-start">Uploading something big</span>
                                                <span class="message float-end text-dark">33%</span>
                                            </p>
                                            <div class="progress progress-xs light mb-1">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle notification-icon" data-bs-toggle="dropdown">
                                <i class="bx bx-envelope"></i>
                                <span class="badge">4</span>
                            </a>
                            <div class="dropdown-menu notification-menu">
                                <div class="notification-title">
                                    <span class="float-end badge badge-default">230</span>
                                    Messages
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <span class="title">Joseph Doe</span>
                                                <span class="message">Lorem ipsum dolor sit.</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <span class="image image-as-text bg-secondary">JJ</span>
                                                <span class="title">Joseph Junior</span>
                                                <span class="message truncate">Truncated message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam, nec venenatis risus. Vestibulum blandit faucibus est et malesuada. Sed interdum cursus dui nec venenatis. Pellentesque non nisi lobortis, rutrum eros ut, convallis nisi. Sed tellus turpis, dignissim sit amet tristique quis, pretium id est. Sed aliquam diam diam, sit amet faucibus tellus ultricies eu. Aliquam lacinia nibh a metus bibendum, eu commodo eros commodo. Sed commodo molestie elit, a molestie lacus porttitor id. Donec facilisis varius sapien, ac fringilla velit porttitor et. Nam tincidunt gravida dui, sed pharetra odio pharetra nec. Duis consectetur venenatis pharetra. Vestibulum egestas nisi quis elementum elementum.</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <span class="image image-as-text bg-tertiary">MD</span>
                                                <span class="title">Monica Doe</span>
                                                <span class="message">Lorem ipsum dolor sit.</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="clearfix">
                                                <span class="image image-as-text bg-quaternary">RD</span>
                                                <span class="title">Robert Doe</span>
                                                <span class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lacinia orci. Proin vestibulum eget risus non luctus. Nunc cursus lacinia lacinia. Nulla molestie malesuada est ac tincidunt. Quisque eget convallis diam.</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <hr />
                                    <div class="text-end">
                                        <a href="#" class="view-more">View All</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>*@
                <span class="separator"></span>
                @await Component.InvokeAsync("IsVerenLayoutIsim")
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->
        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">
                <div class="sidebar-header">
                    <div class="sidebar-toggle d-none d-md-flex" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li>
                                    <a class="nav-link" href="/SY/IsVeren/Dashboard/">
                                        <i class="bx bx-home-alt" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li><hr /></li>
                                <li>
                                    <a class="nav-link" href="/Uye/IsVeren/Profilim/">
                                        <i class="bx bx-user" aria-hidden="true"></i>
                                        <span>Profilim</span>
                                    </a>
                                    <a class="nav-link" href="/Uye/IsVeren/IsIlaniEkle/">
                                        <i class="bx bx-task" aria-hidden="true"></i>
                                        <span>İş İlanı Ekle</span>
                                    </a>
                                    <a class="nav-link" href="/Uye/IsVeren/IsBasvuruListele/">
                                        <i class="bx bx-task" aria-hidden="true"></i>
                                        <span>İş Başvurularını Listele</span>
                                    </a>
                                    <a class="nav-link" href="/Uye/IsVeren/Isciler/">
                                        <i class="bx bx-task" aria-hidden="true"></i>
                                        <span>İş Arayanlar</span>
                                    </a>
                                <li>
                                    <a class="nav-link" href="/Home/Index/">
                                        <i class="bx bx-home-alt" aria-hidden="true"></i>
                                        <span>Siteye Git</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="/Uye/Giris/LogOut/">
                                        <i class="bx bx-log-out" aria-hidden="true"></i>
                                        <span>Çıkış</span>
                                    </a>
                                </li>

                                </li>
                            </ul>
                        </nav>
                        <hr class="separator" />
                    </div>
                    <script>
                        // Maintain Scroll Position
                        if (typeof localStorage !== 'undefined') {
                            if (localStorage.getItem('sidebar-left-position') !== null) {
                                var initialPosition = localStorage.getItem('sidebar-left-position'),
                                    sidebarLeft = document.querySelector('#sidebar-left .nano-content');
                                sidebarLeft.scrollTop = initialPosition;
                            }
                        }
                    </script>
                </div>
            </aside>
            @RenderBody()
        </div>
        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close d-md-none">
                        Collapse <i class="fas fa-chevron-right"></i>
                    </a>
                    <div class="sidebar-right-wrapper">
                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>
                            <ul>
                                <li>
                                    <time datetime="2021-04-19T00:00+00:00">04/19/2021</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/StaticFiles/General/img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/StaticFiles/General/img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/StaticFiles/General/img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/StaticFiles/General/img/!sample-user.jpg" alt="Joseph Doe" class="rounded-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>
    <!-- Vendor -->
    <script src="~/StaticFiles/General/vendor/jquery/jquery.js"></script>
    <script src="~/StaticFiles/General/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/StaticFiles/General/vendor/popper/umd/popper.min.js"></script>
    <script src="~/StaticFiles/General/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/StaticFiles/General/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/StaticFiles/General/vendor/common/common.js"></script>
    <script src="~/StaticFiles/General/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/StaticFiles/General/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/StaticFiles/General/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="~/StaticFiles/General/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/StaticFiles/General/vendor/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/StaticFiles/General/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/StaticFiles/General/vendor/bootstrapv5-multiselect/js/bootstrap-multiselect.js"></script>
    <script src="~/StaticFiles/General/vendor/jquery.easy-pie-chart/jquery.easypiechart.js"></script>
    <script src="~/StaticFiles/General/vendor/flot/jquery.flot.js"></script>
    <script src="~/StaticFiles/General/vendor/flot.tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/StaticFiles/General/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/StaticFiles/General/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/StaticFiles/General/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/StaticFiles/General/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/StaticFiles/General/vendor/raphael/raphael.js"></script>
    <script src="~/StaticFiles/General/vendor/morris/morris.js"></script>
    <script src="~/StaticFiles/General/vendor/gauge/gauge.js"></script>
    <script src="~/StaticFiles/General/vendor/snap.svg/snap.svg.js"></script>
    <script src="~/StaticFiles/General/vendor/liquid-meter/liquid.meter.js"></script>
    <script src="~/StaticFiles/General/vendor/jqvmap/jquery.vmap.js"></script>
    <script src="~/StaticFiles/General/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
    <script src="~/StaticFiles/General/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
    <script src="~/StaticFiles/General/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
    <script src="~/StaticFiles/General/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
    <script src="~/StaticFiles/General/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
    <script src="~/StaticFiles/General/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
    <script src="~/StaticFiles/General/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
    <script src="~/StaticFiles/General/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="~/StaticFiles/General/js/theme.js"></script>
    <!-- Theme Custom -->
    <script src="~/StaticFiles/General/js/custom.js"></script>
    <!-- Theme Initialization Files -->
    <script src="~/StaticFiles/General/js/theme.init.js"></script>
    <!-- Examples -->
    <script src="~/StaticFiles/General/js/examples/examples.header.menu.js"></script>
    <script src="~/StaticFiles/General/js/examples/examples.ecommerce.datatables.list.js"></script>
</body>
</html>