@using EntityLayer.Concrete
@model BelgeKategori
@{
	Layout = "~/Views/Shared/Layout/General/AdminLayout.cshtml";
}
<section class="body">
	<div class="inner-wrapper">

		<section role="main" class="content-body content-body-modern mt-0">
			<header class="page-header page-header-left-inline-breadcrumb">

				<div class="right-wrapper">
					<ol class="breadcrumbs">
						<li><span>Home</span></li>

						<li><span>eCommerce</span></li>

						<li><span>Categories</span></li>
					</ol>
					<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
				</div>
			</header>

			<form class="ecommerce-form action-buttons-fixed" action="#" method="post" enctype="multipart/form-data">
				<input type="hidden" name="Id" value="@Model.Id" />
				<div class="row">
					<div class="col">
						<section class="card card-modern card-big-info">
							<div class="card-body">
								<div class="row">

									<div>
										<div class="form-group row align-items-center mb-3">
											<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Belge Başlık</label>
											<div class="col-lg-7 col-xl-6">
												<input type="text" name="Ad" value="@Model.Ad" class="form-control" />
											</div>
										</div>

									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="row action-buttons">
					<div class="col-12 col-md-auto">
						<button type="submit" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
							<i class="bx bx-save text-4 me-2"></i> Kaydet
						</button>
					</div>

				</div>
			</form>
			<!-- end: page -->
		</section>
	</div>
</section>
