@{
    ViewData["Title"] = "iletisim";
    Layout = "~/Views/Shared/Layout/General/AdminLayout.cshtml";
}

<div class="inner-wrapper">
    <!-- start: sidebar -->
    <!-- end: sidebar -->
    <section role="main" class="content-body content-body-modern mt-0">
        <header class="page-header page-header-left-inline-breadcrumb">
   
            <div class="right-wrapper">
                <ol class="breadcrumbs">
                    <li><span>Home</span></li>
                    <li><span>eCommerce</span></li>
                    <li><span>Categories</span></li>
                </ol>
                <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
            </div>
        </header>
        <div class="row">
            <div class="col">
                <section class="card card-modern card-big-info">
                    <div class="card-body">
                        <div class="row">
                            @await Component.InvokeAsync("iletisimListele")
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- start: page -->
        <form class="ecommerce-form action-buttons-fixed" action="#" method="post" enctype="multipart/form-data">

            <div class="gizgos" style="display:none;">
                <div class="row">
                    <div class="col">
                        <section class="card card-modern card-big-info">
                            <div class="card-body">
                                <div class="row">
                                    
                                    <div>
                                        <div class="form-group row align-items-center mb-3">
                                            <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Adresimiz</label>
                                            <div class="col-lg-7 col-xl-6">
                                                <textarea id="editor1" type="text" class="form-control form-control-modern" name="Iletisim_Adresimiz" value="" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center mb-3">
                                            <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Telefon numaramız</label>
                                            <div class="col-lg-7 col-xl-6">
                                                <textarea id="editor2" type="text" class="form-control form-control-modern" name="Iletisim_Telefon_numaramiz" value="" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center mb-3">
                                            <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Mail adresimiz</label>
                                            <div class="col-lg-7 col-xl-6">
                                                <textarea id="editor3" type="text" class="form-control form-control-modern" name="Iletisim_Email_Adresimiz" value="" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center mb-3">
                                            <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Arge Adresimiz</label>
                                            <div class="col-lg-7 col-xl-6">
                                                <textarea id="editor4" type="text" class="form-control form-control-modern" name="Arge_Iletisim_Adres" value="" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center mb-3">
                                            <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Arge Telefon numaramız</label>
                                            <div class="col-lg-7 col-xl-6">
                                                <textarea id="editor5" type="text" class="form-control form-control-modern" name="Arge_Iletisim_Telefon" value="" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row align-items-center mb-3">
                                            <label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Arge Mail adresimiz</label>
                                            <div class="col-lg-7 col-xl-6">
                                                <textarea id="editor6" type="text" class="form-control form-control-modern" name="Arge_Iletisim_Email" value="" required></textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row action-buttons">
                    <div class="col-12 col-md-auto">
                        <button type="submit" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
                            <i class="bx bx-save text-4 me-2"></i> Kaydet
                        </button>
                    </div>
                   
                </div>
            </div>
            <script>
                CKEDITOR.config.autoParagraph = false;
                CKEDITOR.replace("editor1");
                CKEDITOR.replace("editor2");
                CKEDITOR.replace("editor3");
                CKEDITOR.replace("editor4");
                CKEDITOR.replace("editor5");
                CKEDITOR.replace("editor6");

                $(document).ready(function() {
                    $("#hideshow").click(function() {
                        $(".gizgos").slideToggle("slow")
                    });

                });
            </script>
        </form>
        <!-- end: page -->
    </section>
</div>

