
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/Front/_Layout.cshtml";
}

<div role="main" class="main" style="background-color:#fff">
    <div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover dots-light nav-style-1 nav-inside nav-inside-plus nav-dark nav-lg nav-font-size-lg show-nav-hover mb-0" data-plugin-options="{'autoplayTimeout': 7000}" data-dynamic-height="['650px','650px','650px','550px','500px']" style="height: 650px;">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                @await Component.InvokeAsync("AnaSayfaSliderListele")

            </div>
        </div>
      
    </div>

   @await Component.InvokeAsync("AnaSayfaCozumlerimizListele")
    <section class="section section-height-3 bg-color-grey-scale-1 section-no-border m-0">
        <div class="container my-2">
            @await Component.InvokeAsync("AnaSayfaMusterilerimizListele")
        </div>
    </section>
    <div class="container">
        @await Component.InvokeAsync("AnaSayfaPortfolyoListele")
    </div>
    <section class="section section-height-3 bg-color-grey-scale-1 section-no-border m-0">
        <div class="container">
            @await Component.InvokeAsync("AnaSayfaBlogListele")
        </div>
    </section>
</div>
