
<form asp-action="MailBulteni" asp-controller="Home" method="post">
    <div class="col-md-8 mb-5 mb-lg-0">
        <div class="row">
            <h5 class="text-4 text-transform-none font-weight-semibold text-color-light mb-2"><label>Mail Bültenine Abone Olun</label></h5>
            <input class="form-control mb-2" name="KullaniciMail" />
            <input type="submit" class="btn btn-primary"  value="Abone Ol"/>
        </div>
    </div>
</form>
