@using EntityLayer.Concrete
@model List<Hakkimizda>

<div class="owl-carousel owl-theme nav-style-1 nav-center-images-only stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 1}, '992': {'items': 2}, '1200': {'items': 2}}, 'margin': 25, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
    @foreach (var item in Model)
    {
        <div>
            <img class="img-fluid rounded-0 mb-4" src="~/Resimler/BizKimiz/@item.Biz_kimiz_resim_yol" alt="" />
        </div>
    }
</div>