
@{
    ViewData["Title"] = "OnayKodu";
    Layout = "~/Views/Shared/Layout/General/_BosLayout.cshtml";
}





<html>
	<head>
		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	
		<title>Giriş Yap</title>	
		<meta name="keywords" content="HTML5 Template" />
		<meta name="description" content="Porto - Responsive HTML5 Template">
		<meta name="author" content="okler.net">
		<!-- Favicon -->
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/StaticFiles/Front/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/StaticFiles/Front/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="/StaticFiles/Front/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="/StaticFiles/Front/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="/StaticFiles/Front/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="/StaticFiles/Front/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="/StaticFiles/Front/vendor/magnific-popup/magnific-popup.min.css">
		<link rel="stylesheet" href="/StaticFiles/Front/vendor/bootstrap-star-rating/css/star-rating.min.css">
		<link rel="stylesheet" href="/StaticFiles/Front/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.css">
		<!-- Theme CSS -->
		<link rel="stylesheet" href="/StaticFiles/Front/css/theme.css">
		<link rel="stylesheet" href="/StaticFiles/Front/css/theme-elements.css">
		<link rel="stylesheet" href="/StaticFiles/Front/css/theme-blog.css">
		<link rel="stylesheet" href="/StaticFiles/Front/css/theme-shop.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="css/skins/default.css">
		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/StaticFiles/css/custom.css">
		<!-- Head Libs -->
		<script src="/StaticFiles/vendor/modernizr/modernizr.min.js"></script>

	</head>
	<body data-plugin-page-transition>
		<div class="body">
			<div role="main" class="main shop py-4">
				<div class="container py-4">
					<div class="row justify-content-center">
						<div class="col-md-6 col-lg-5 mb-5 mb-lg-0">
							<h2 class="font-weight-bold text-5 mb-0">Onay Kodunu Giriniz</h2>
							<form id="frmSignIn" method="post" class="needs-validation">
								<div class="row">
									<div class="form-group col">
										<label class="form-label text-color-dark text-3">Onay Kodu <span class="text-color-danger">*</span></label>
										<input type="text" value="" name="OnayKodu" class="form-control form-control-lg text-4" required>
									</div>
								</div>
								
								
								<div class="row">
									<div class="form-group col">
										<button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3" data-loading-text="Yükleniyor...">Gonder</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Vendor -->
		<script src="/StaticFiles/vendor/jquery/jquery.min.js"></script>
		<script src="/StaticFiles/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="/StaticFiles/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="/StaticFiles/vendor/jquery.cookie/jquery.cookie.min.js"></script>
		<script src="/StaticFiles/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="/StaticFiles/vendor/jquery.validation/jquery.validate.min.js"></script>
		<script src="/StaticFiles/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="/StaticFiles/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="/StaticFiles/vendor/lazysizes/lazysizes.min.js"></script>
		<script src="/StaticFiles/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="/StaticFiles/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="/StaticFiles/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="/StaticFiles/vendor/vide/jquery.vide.min.js"></script>
		<script src="/StaticFiles/vendor/vivus/vivus.min.js"></script>
		<script src="/StaticFiles/vendor/bootstrap-star-rating/js/star-rating.min.js"></script>
		<script src="/StaticFiles/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>
		<!-- Theme Base, Components and Settings -->
		<script src="/StaticFiles/js/theme.js"></script>
		<!-- Current Page Vendor and Views -->
		<script src="/StaticFiles/js/views/view.shop.js"></script>

		<!-- Theme Custom -->
		<script src="/StaticFiles/js/custom.js"></script>
		<!-- Theme Initialization Files -->
		<script src="/StaticFiles/js/theme.init.js"></script>

	
<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="20fb0ebcbc5246b7ac1366bcdee9c8e2"data-requestMappingFromServer="false" data-connectUrl="http://localhost:58153/820c0fae12dd497f990645faa86c6fb0/browserLink"></script>
<!-- End Browser Link -->

<script src="/_framework/aspnetcore-browser-refresh.js"></script></body>
</html>