<ul class="footer-social-icons social-icons social-icons-clean social-icons-big social-icons-opacity-light social-icons-icon-light mt-1">
    <li class="social-icons-instagram"><a href="@ViewBag.InstagramLink" target="_blank" title="İnstagram"><i class="fab fa-instagram text-2"></i></a></li>
    <li class="social-icons-facebook"><a href="@ViewBag.FacebookLink" target="_blank" title="Facebook"><i class="fab fa-facebook-f text-2"></i></a></li>
    <li class="social-icons-twitter"><a href="@ViewBag.TwitterLink" target="_blank" title="Twitter"><i class="fab fa-twitter text-2"></i></a></li>
</ul>