@using EntityLayer.Concrete
@using ikp_kurumsal.Extensions
@model List<UretimTakipYonetimi>

<div class="tabs tabs-dark mb-4 pb-2">
    <ul class="nav nav-tabs">
        <li class="nav-item"><button id="popular" class="nav-link show active text-1 font-weight-bold text-uppercase" style="outline:none;" data-bs-toggle="tab">Diğer Çözümlerimiz</button></li>
        @*<li class="nav-item"><button id="recent" class="nav-link text-1 font-weight-bold text-uppercase" style="outline:none;" data-bs-toggle="tab">Recent</button></li>*@
    </ul>
    <div class="tab-content">
        @foreach(var item in Model)
            {           
        <div class="tab-pane active" id="popularPosts">
            <ul class="simple-post-list">
                <li>
                    <div class="post-image">
                        <div class="img-thumbnail img-thumbnail-no-borders d-block">
                            <a href="/Home/UretimTakipYonetimiDetay/@item.UretimTakip_id">
                                <img src="~/Resimler/UretimTakip/@item.UretimTakip_Resim_Yol" width="50" height="50" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="post-info">
                        <a href="/Home/UretimTakipYonetimiDetay/@item.UretimTakip_id">@Html.Raw(@item.UretimTakip_name)</a>
                    </div>
                </li> 
            </ul>
        </div>
        }
    </div>
</div>